.button-primary {
  background: var(--brand-pink);
  border: solid 1px var(--brand-pink);
  border-radius: 5px;
  color: var(--brand-white);
  font-size: $buttons-font-size-default;
  font-weight: $buttons-font-weight;
  padding: 1rem 2rem;
  white-space: nowrap;

  &--bordered {
    background: none;
    border: solid 1px var(--brand-pink);
    color: var(--brand-pink);
  }

  &--full-width {
    width: 100%;
  }

  &--small {
    font-size: $buttons-font-size-small;
    height: 3.2rem;
    padding: 0 1.2rem;
  }
}
