<div class="boxes d-flex container">
    <div class="box curated-box">
      <div class="card-content">
        <h4>Curated box</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est molestias tempore eius quo qui, dignissimos iusto.</p>
        <h4 class="price">ab 35€</h4>
        <a href="http://localhost:3000/products/curated-box-2-items?taxon_id=7" class="button-secondary">Bestellen</a>
      </div>
    </div>

  <div class="box custom-box">
    <div class="card-content">
      <h4>Custom box</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est molestias tempore eius quo qui, dignissimos iusto.</p>
      <h4 class="price">ab 35€</h4>
      <h4>Coming soon</h4>
      <%# <a href="http://localhost:3000/products/curated-box-2-items?taxon_id=7" class="button-secondary">Bestellen</a> %>
    </div>
  </div>
</div>

<div class="boxes-bg"></div>
