<div class="boxes d-flex container">
  <div class="card box curated-box">
    <%# <div class="card-img"></div> %>
    <div class="card-content">
      <h4>Curated box</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est molestias tempore eius quo qui, dignissimos iusto.</p>
      <h4>ab 40€</h4>
    </div>
  </div>
  <div class="card box custom-box">
    <%# <div class="card-img"></div> %>
    <div class="card-content">
      <h4>Custom box</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est molestias tempore eius quo qui, dignissimos iusto.</p>
      <h4>ab 35€</h4>
    </div>
  </div>
</div>

<div class="boxes-bg"></div>
