<section class="hero"
         style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://i.ibb.co/9GdhZjy/pexels-cottonbro-5853659.jpg');
                background-size: cover;
                background-position: 0 20%;">
  <div class="hero__container">
    <div class="hero__message">
      <h1 class="hero-title">
        Mamas mieten Mode
      </h1>

      <p class="subtitle">
        Abo-Box für die Miete von Umstandsmode
      </p>
    </div>
  </div>
</section>
