<div class="steps-bg"></div>
<div class="steps d-flex container">
  <div class="step step1">
    <div class="step-icon">
      <%= image_tag('select.png')%>
    </div>
    <p>
      Select a plan: Curated box or do you prefer to choose your own items?
      Either way, from 2 to 5 items per month!
    </p>
  </div>
  <div class=" step step2">
    <div class="step-icon">
      <%= image_tag('select.png')%>
    </div>
    <p>
      Answer our questionnaire so our stylist can select the right outfits for you,
      or make your selection of clothes.
    </p>
  </div>
  <div class="step step3">
    <div class="step-icon">
      <%= image_tag('select.png')%>
    </div>
    <p>
      Once your order is placed, your first box will be delivered within 3 to 5 days.
    </p>
  </div>
</div>
