<%= render 'hero' %>

<article>
  <% cache(cache_key_for_products) do %>
    <%= render 'products/products', products: @products %>
  <% end %>
</article>

<%= render 'steps' %>

<div class="boxes d-flex container">
  <div class="box curated-box">
    <h4>Curated box</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est molestias tempore eius quo qui, dignissimos iusto.</p>
  </div>
  <div class="box custom-box">
    <h4>Custom box</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est molestias tempore eius quo qui, dignissimos iusto.</p>
  </div>
</div>
