.header {
  // border-bottom: 1px solid $color-border-light;
  background-color: var(--brand-baby-white);

  // &__primary-navigation {
  // }

  &__secondary-navigation {
    margin: 0 auto;
    min-height: 100px;
    z-index: 99;
  }
}
