.steps {
  background-color: var(--brand-baby-pink);
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.step {
  width: 250px;
}

.step-icon {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.step-icon img {
  width: 150px;
}
