<div class="signup-options-wrapper d-flex">
  <%= link_to choose_own_clothes_registration_path  do %>
  <div class="signup-option signup-option-1">
    <h3>I want to choose my clothes</h3>
  </div>
  <% end %>
  <%= link_to stylist_choose_clothes_registration_path do %>
  <div class="signup-option signup-option-2">
    <h3>I want a stylist to pick my outfit</h3>
  </div>
  <% end %>
</div>
